<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>Правила гри "Свинтус"</h2>
<p>Правила такі самі як у звичайній картковій грі "дурень".
  Є 4 масті:</p>

<ul>
  <li>Бульба
    <%= image_tag('1.gif', :width => 70, :height => 80) %>
  </li>
  <li>Морква
    <%= image_tag('6.jpg', :width => 70, :height => 80) %>
  </li>
  <li>Баклажан
    <%= image_tag('1.png', :width => 70, :height => 80) %>
  </li>
  <li>Перець
    <%= image_tag('2.png', :width => 70, :height => 80) %>
  </li>
</ul>
