<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>Правила гри "Свинтус"</h2>
<h3>Про гру Pigame</h3>
<p>
  Pigame — карткова гра, побудована за наступними правилами:
  Стандартна колода містить 36 карт: 6, 7, 8, 9, J(Jack - валет), 
  Q(Queen - королева), K(King - король), A(Ace — туз). 
  Всі вони розділені по мастях: Бульба, Морква, Кабачок, Перець. 
</p>

  <%= image_tag('suits.jpg') %>

<p>
  Перед початком гри колода перемішується і вибирається козирна карта. 
  Пізніше, кожному гравцю роздається однакова кількість карт (6). 
  Хід надається користувачу програми.
</p>
<p>
  “Ходити” можна з будь-якої карти. “Побиватися” - картою тієї ж масті, 
  вищою за рангом, або ж козирною картою. Якщо після “ходу” у гравця, 
  що розпочав гру є ще карти, які можна “підкинути” (карти того ж рангу, 
  що знаходяться на столі), він здійснює задуманий крок. Карти можна “підкидати”
  у будь-якому порядку, але не більше шести.
</p>
<p>
  Якщо гравець “відбивається” успішно — усі карти на столі ідуть у “відбій”, 
  і хід переходить до нього. У протилежному випадку — він забирає карти зі столу
  собі “на руки” і пропускає свій хід. Після цього кроку, при необхідності, 
  із колоди кожен гравець бере карти, так, щоб їх сумарна кількість дорівнювала 
  шести. Починає брати карти той гравець, який розпочав “хід”.
</p>
<p>
  Суть гри полягає в тому, щоб позбутися усіх карт “на руках”. При чому, колода 
  повинна бути пустою. Перемагає той, хто першим досягне вищеописаних умов.
</p>
<h3>Знайомство з грою</h3>
<p>
  Вверху присутнє меню, яке допомагає доступитися до головної сторінки та 
  розпочати гру. Додатково, присутня кнопка “Грати”, що переносить користувача
  на сторінку з грою.
</p>
<p>
  Зверху знаходяться карти суперника, знизу — користувача. Посередині — колода 
  карт і козирна карта, а також усі карти, що приймають участь на даному етапі 
  гри. Це так званий “стіл”. 
</p>
<p>
  Для того, щоб “походити” чи “відбитися” гравцю достатньо натиснути на 
  зображення карти. Допустимі карти поточного етапу при наведенні на них курсору
  перетворюють його зображення на “вказівну руку”. Інакше — курсор залишається 
  незмінним. Це означає, що “хід” даною картою заборонений. 
</p>
<p>
  Під картами гравця — користувача знаходиться кнопка “Відбій”, що означає 
  кінець “ходу”, перенесення карт до “відбійної” колоди, чи додавання карт до 
  карт суперника (у разі неможливості “побити” поточний “хід”) і роздача нових 
  карт з колоди для кожного гравця, якщо в цьому є потреба. Після кожного ходу,
  для того, щоб продовжити гру, необхідно поводити вищеописану процедуру. 
</p>
<p>
  Коли досягнено кінець гри, після чергового натиснення кнопки “End fight”,
  з'являється надпис - “Game over!!!”. 
</p>
<p>
  Протягом усієї гри користувач може знову повернутися на головну сторінку і 
  розпочати нову гру. 
</p>

